@import url("mocha.css");

* {
  min-height: 0;
  margin-top: 2;
  padding: 0;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 18;
  padding-bottom: 1;
  padding-top: 1;
  background-color: transparent;
}

window {
  background-color: transparent;
}

tooltip {
  background: @background;
  border-radius: 8;
  border: 2 solid @background;
}

#window {
  margin-top: 4;
  margin-left: 10;
  margin-right: 10;
  padding-left: 10;
  padding-right: 10;
  border: 2 solid @background;
  border-radius: 8;
  color: @yellow;
  background-color: @background;
}

#custom-arch-pill {
  margin-top: 4;
  margin-left: 10;
  margin-right: 10;
  padding-left: 10;
  padding-right: 16;
  border: 2 solid @background;
  border-radius: 8;
  background-color: @lavender;
  color: @background;
}

#custom-weather {
  margin-top: 4;
  margin-left: 10;
  margin-right: 10;
  border: 2 solid @background;
  border-radius: 8;
  background-color: @background;
}

#mode {
  margin-top: 4;
  margin-left: 10;
  margin-right: 10;
  padding-left: 10;
  padding-right: 10;
  border-radius: 8;
  border: 2 solid @background;
  background-color: @background;
  color: @peach;
}

#mpd {
  margin-top: 4;
  margin-left: 10;
  margin-right: 10;
  padding-left: 10;
  padding-right: 10;
  border: 2 solid @background;
  border-radius: 8;
  background-color: @background;
  color: @peach;
}

#workspaces {
  margin-top: 4;
  margin-left: 20;
  margin-right: 10;
  padding-left: 6;
  padding-right: 6;
  border-radius: 8;
  background-color: @background;
}

#workspaces button {
  margin-top: 4;
  margin-bottom: 4;
  margin-left: 4;
  margin-right: 4;
  padding-left: 10;
  padding-right: 10;
  border-radius: 8;
  min-width: 0;
  color: @surface2;
}

#workspaces button.current_output {
  color: @foreground;
}

#workspaces button.focused {
  background-color: @yellow;
  border-color: @yellow;
  color: @background;
}

#workspaces button.urgent {
  background-color: @red;
  border-color: @red;
  color: @background;
}

#workspaces button:first-child:hover,
#workspaces button.focused:first-child,
#workspaces button.urgent:first-child {
  border-top-left-radius: 8;
  border-bottom-left-radius: 8;
}
#workspaces button:last-child:hover,
#workspaces button.focused:last-child,
#workspaces button.urgent:last-child {
  border-top-right-radius: 8;
  border-bottom-right-radius: 8;
}

#network {
  margin-top: 4;
  margin-left: 10;
  margin-right: 20;
  padding-left: 10;
  padding-right: 10;
  border: 2 solid @background;
  border-radius: 8;
  color: @red;
  background-color: @background;
}

#network.disconnected {
  background-color: @red;
  color: @background;
}

#pulseaudio {
  margin-top: 4;
  margin-left: 10;
  margin-right: 10;
  padding-left: 10;
  padding-right: 10;
  border: 2 solid @background;
  border-radius: 8;
  color: @green;
  background-color: @background;
}

#pulseaudio.muted {
  background-color: @red;
  color: @background;
}

#pulseaudio.source-muted {
  background-color: @red;
  color: @background;
}

#bluetooth {
  margin-top: 4;
  margin-left: 10;
  margin-right: 10;
  padding-left: 10;
  padding-right: 10;
  border: 2 solid @background;
  border-radius: 8;
  color: @blue;
  background-color: @background;
}

#clock {
  margin-top: 4;
  margin-left: 10;
  margin-right: 10;
  padding-left: 10;
  padding-right: 10;
  border: 2 solid @background;
  border-radius: 8;
  color: @peach;
  background-color: @background;
}

#tray { 
  margin-top: 4;
  margin-left: 10;
  margin-right: 10;
  padding-left: 16;
  padding-right: 16;
  border: 2 solid @background;
  border-radius: 8; 
  background-color: @background; 
} 

#tray menu {
  background-color: @background;
}

#tray menu menuitem label {
  /*color: @yellow;*/
}
