@import url("mocha.css");

* {
  min-height: 0;
  margin: 0;
  padding: 0;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12pt;
  padding-bottom: 1px;
  padding-top: 1px;
  background-color: transparent;
}

window {
  background-color: transparent;
}

tooltip {
  background: @background;
  border-radius: 8px;
  border: 2px solid @background;
}

#window {
  margin: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid @background;
  border-radius: 8px;
  color: @yellow;
  background-color: @background;
}

#custom-arch-pill {
  margin: 6px;
  padding-left: 10px;
  padding-right: 15px;
  border: 2px solid @background;
  border-radius: 7px;
  background-color: @lavender;
  color: @background;
}

#custom-weather {
  margin: 6px;
  border: 2px solid @background;
  border-radius: 8px;
  background-color: @background;
}

#mode {
  margin: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  border: 2px solid @background;
  background-color: @background;
  color: @peach;
}

#mpd {
  margin: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid @background;
  border-radius: 7px;
  background-color: @background;
  color: @peach;
}

#workspaces {
  margin: 6px;
  border: 2px solid @background;
  border-radius: 7px;
  background-color: @background;
}

#workspaces button {
  margin: 6px;
  padding-left: 8px;
  padding-right: 8px;
  border: 2px solid @background;
  border-radius: 8px;
  min-width: 0;
  color: @surface2;
}

#workspaces button.current_output {
  color: @foreground;
}

#workspaces button.focused {
  background-color: @yellow;
  border-color: @yellow;
  color: @background;
}

#workspaces button.urgent {
  background-color: @red;
  border-color: @red;
  color: @background;
}

#workspaces button:first-child:hover,
#workspaces button.focused:first-child,
#workspaces button.urgent:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
#workspaces button:last-child:hover,
#workspaces button.focused:last-child,
#workspaces button.urgent:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

#network {
  margin: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid @background;
  border-radius: 7px;
  color: @red;
  background-color: @background;
}

#network.disconnected {
  background-color: @red;
  color: @background;
}

#pulseaudio {
  margin: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid @background;
  border-radius: 7px;
  color: @green;
  background-color: @background;
}

#pulseaudio.muted {
  background-color: @red;
  color: @background;
}

#pulseaudio.source-muted {
  background-color: @red;
  color: @background;
}

#bluetooth {
  margin: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid @background;
  border-radius: 7px;
  color: @blue;
  background-color: @background;
}

#clock {
  margin: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid @background;
  border-radius: 7px;
  color: @peach;
  background-color: @background;
}

#tray { 
  margin: 6px; 
  padding-left: 10px;
  padding-right: 10px;
  border: 2px solid @background;
  border-radius: 7px; 
  background-color: @background; 
} 

#tray menu {
  background-color: @background;
}

#tray menu menuitem label {
  /*color: @yellow;*/
}
