default_mode "locked"
pane_frames false
theme "tokyonight_storm"

keybinds {
  locked {
    bind "Ctrl q" { Detach; }
    bind "Ctrl Alt h" "Ctrl Alt Left" { MoveFocusOrTab "Left"; }
    bind "Ctrl Alt j" "Ctrl Alt Down" { MoveFocus "Down"; }
    bind "Ctrl Alt k" "Ctrl Alt Up" { MoveFocus "Up"; }
    bind "Ctrl Alt l" "Ctrl Alt right" { MoveFocusOrTab "Right"; }
  }
}
