[[mgr.prepend_keymap]]
on   = [ "c", "m" ]
run  = "plugin chmod"
desc = "Chmod on selected files"

[[mgr.prepend_keymap]]
on  = "M"
run = "plugin mount"

[[mgr.prepend_keymap]]
on   = "<C-d>"
run  = "plugin diff"
desc = "Diff the selected with the hovered file"

[[mgr.prepend_keymap]]
on   = [ "g", "m" ]
run  = "cd /run/media/$USER"
desc = "Go to mounted drives"

[[mgr.prepend_keymap]]
on   = [ "s", "w" ]
run  = 'shell -- set-wallpaper "$1"'
desc = "Set wallpaper"

