include "cursor.kdl"
include "environment.kdl"
include "gestures.kdl"
include "keybinds.kdl"
include "layout.kdl"
include "monitors.kdl"
include "screenshots.kdl"
include "window-rules.kdl"

prefer-no-csd

hotkey-overlay {
  skip-at-startup
}
