include "environment.kdl"
include "keybinds.kdl"
include "layout.kdl"
include "window-rules.kdl"

prefer-no-csd

hotkey-overlay {
  skip-at-startup
}

/-output "DP-3" {
  variable-refresh-rate
}

gestures {
  hot-corners {
    off
  }
}

//=== Screenshot ===
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"
binds {
  Mod+P { screenshot; }
  Mod+Alt+P { screenshot-window; }
  Mod+Shift+P { screenshot-screen; }
}

