
[Unit]
Description=Dank Material Shell
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=dms run
Restart=on-failure
