layout {
  tab name="Rails Console (Docker)" {
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }

    pane command="docker" {
      args "compose" "run" "rails" "bundle" "exec" "rails" "console"
    }
  }
}
