layout {
  tab name="Rails Server (Docker)" {
    pane size=1 borderless=true {
      plugin location="compact-bar"
    }

    pane command="docker" {
      args "compose" "attach" "rails"
    }
  }
}
